@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.login-btn {
  background-color: rgba(255, 255, 255, 0.5);
}

.scale-up {
  @apply scale-100 transition-all;
}

.scale-up:hover {
  @apply scale-105;
}

.scale-up:active {
  @apply scale-95;
}

.heading {
  animation: slide-top 0.6s forwards;
}

.sub-heading {
  animation: slide-left 0.6s forwards;
}

.login-form {
  animation: slide-bottom 0.6s forwards;
}

@keyframes slide-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
